@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --section-padding: 1rem;
  --section-margin: 1rem;
  --border-radius-default: 0.75rem;
  --primary-color: #82b4ff;
  --primary-color-dark: #46618a;
  --shade-color: #494949da;
  --color-shadow: grey;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "IBM Plex Mono", monospace; */
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: var(--border-radius-default);
  /* border-radius: 32px; */
  padding: var(--section-padding) calc(var(--section-padding) * 2);
  text-decoration: none;
  font-size: 1.5rem;
  transition-duration: 0.2s;
}

button:not(:disabled),
input:not(:disabled),
input:not(:disabled) + label,
a {
  cursor: pointer;
}

.icon:hover {
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: var(--primary-color-dark);
}

.box-shadow {
  box-shadow: 2px 5px 5px var(--color-shadow);
}

.icon {
  vertical-align: bottom;
}

ul {
  list-style-position: inside;
  margin-left: 1rem;
}

body {
  /* margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  text-align: center;
  padding: var(--section-padding);
  border-bottom: double 1rem black;
}

#app-title {
  font-size: 4rem;
}

header button {
  margin: var(--section-margin);
}

title {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--section-padding);
  gap: 1rem;
}

.date-block {
  display: flex;
  justify-content: space-between;
}

.dates {
  /* text-align: right; */
}

section {
  padding: var(--section-padding);
}

#input-form {
  width: 100%;
  padding: var(--section-padding);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: var(--section-padding);
}

section .input-container {
  margin-left: 1rem;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  transition: box-shadow 0.3s;
  background: lightgrey;
  cursor: pointer;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
}

input:checked {
  box-shadow: inset 0 0 0 20px var(--primary-color-dark);
}

textarea {
  resize: vertical;
}

.delete {
  background: rgb(255, 28, 28);
}

button.delete:not(:disabled):hover {
  background: rgb(136, 0, 0);
}

#output-container {
  font-family: "Libre Baskerville", serif;
  /* aspect-ratio: 9/16; */
  border: solid 2px black;
  /* margin: var(--section-margin); */
  padding: var(--section-padding);
  /* min-height: 100%; */
  height: 100vh;
  max-height: 16in;
}

.portrait {
  position: relative;
  width: 100%;
  max-width: 9in;
  /* height: 0; */
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  font-size: 100%; /* Reset font size to default */
}

.sticky {
  position: sticky;
  top: 0;
}

.name {
  text-transform: uppercase;
  font-size: 2rem;
}

.section-header {
  border-bottom: solid 2px black;
}

.output-section {
  padding: var(--section-padding);
}

#personal-output-container {
  text-align: center;
}

@media (min-width: 780px) {
  main {
    flex-direction: row;
  }

  .pop-up {
    width: 40%;
  }
}

@media print {
  #output-container {
    border: none;
  }
}
